.login-conatiner{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-btn{
    height: 30px;
    width: 130px;
    border-width: 0px;
    border-radius: 6px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
    background-color: #75ccd1;
}


.heading{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 800;
    color: #39bf45; 
}

.error{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 800;
    color: red;
}